*.tmp
*.dll
*.pdb
*.cache
.vs/RealCity/v14/.suo
*.xml
.vs/RealCity/v16/.suo
.vs/RealCity/v16/Server/sqlite3/db.lock
*.ide
*.ide-shm
*.ide-wal
obj/Release/RealCity.csproj.CopyComplete
obj/Release/RealCity.csproj.FileListAbsolute.txt

packages/*